h1 img {
    display: block;
    margin: 0 auto;
    width: 400px;
    animation: zoomIn 1s ease-in-out;
}


@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}